.consulting {
  background-color: black;
  font-family: Signika Negative, Asap, sans-serif;
  color: #ccc;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  max-height: 98%;
  h1 {
    color: white;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 5px;
    padding-top: 10%;
    @include media(">=oldPhone") {
      font-size: 4rem;
      line-height: 5rem;
    }
    @include media(">=phone") {
      font-size: 5rem;
      line-height: 6rem;
    }
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    @include media(">=oldPhone") {
      font-size: 1.7rem;
      line-height: 2rem;
    }

    @include media(">=phablet") {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

.ball {
  width: 20px;
  height: 20px;
  margin-top: 180px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}
