@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/curtain.scss";
@import "./components/header.scss";
@import "./components/homePage.scss";
@import "./components/slider.scss";
@import "./components/hardware.scss";
@import "./components/consulting.scss";
@import "./components/services.scss";
@import "./components/consumables.scss";
@import "./components/networking.scss";
@import "./components/software.scss";
@import "./components/posslider.scss";
@import "./components/posoffer.scss";
@import "./components/pagenotfound.scss";

@font-face {
  font-family: "first";
  src: url("../assets//first.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#root {
  position: relative;
}
.canister {
  width: 100vw;
  height: 90vh;
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
